<app-header-cliente></app-header-cliente>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

<section class="container wrapper">
  <h2 class="pt-2">Selecciona Método de pago</h2>
  <p>Selecciona el País y luego haz click en el botón "Comprar".</p>
<div class="row pt-3 pb-5">
    <div class="list-group list-group-horizontal" style="width: 100%;" id="list-tab" role="tablist">
        <div class="list-group-item list-group-item-action active" id="list-chile-list" data-toggle="list" role="tab" aria-controls="chile" (click)="onClickSeleccione('Chile')">
            <div class="d-flex w-100 justify-content-between">
                <h4 class="mb-1">Chile</h4>
              </div>
              <p class="mb-1">WebPay, OnePay, Servipag, MACH.</p>
              <!-- <small>Donec id elit non mi porta.</small> -->
            </div>
        <div class="list-group-item list-group-item-action" id="list-colombia-list" data-toggle="list" role="tab" aria-controls="colombia" (click)="onClickSeleccione('Colombia')">
            <div class="d-flex w-100 justify-content-between">
                <h4 class="mb-1">Colombia</h4>
              </div>
              <p class="mb-1">Crédito (Visa, Mastercard, Amex, Diners y Crédito Fácil Codensa) y Débito (Débito Visa).</p>
              <!-- <small>Donec id elit non mi porta.</small> -->
            </div>
        </div>
</div>

  <div class="row">
    <button type="button" class="btn btn-warning btn-lg btn-block" [disabled]="sorteoComprando.EstadoSorteo != 1" [hidden]="esAdmin"
    (click)="comprarSorteo()">
    <i class="fas fa-ticket-alt fa-md"></i>&nbsp;Comprar
  </button>
  </div>
</section>
<app-footter></app-footter>