.margin-icon{
    margin: 20px;
}
.padding-card{
    padding: 20px;
}
.search-control{
    width: 85%;
}
.search-button{
    width: 15%;
}
.grid-table{
    background: whitesmoke;
}
.header-tabla{
    background: #ffb700 !important;
}
div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
    width: 100%;
}
.img-carrusel{
    max-height: 350px;
}
table {
    width: 100%;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .mat-list-base {
    padding-top: 8px;
    display: block;
    -webkit-tap-highlight-color: transparent;
    background: #424242;
  }
  .p-minimo{
    font-size: 0.7rem;
  }
  .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 1.25em;
    background: #424242;
  }
  .mat-column-Estado {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 15% !important;
    width: 15% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
   
    hyphens: auto;
  }
/*
  .col-4 {
    -webkit-box-flex: 0;
    flex: 0 0 33%;
    max-width: 33%;
}
.col-md-4 {
  -webkit-box-flex: 0;
  flex: 0 0 33%;
  max-width: 33%;
}
.col-sm-4 {
  -webkit-box-flex: 0;
  flex: 0 0 33%;
  max-width: 33%;
}
.col-lg-4 {
  -webkit-box-flex: 0;
  flex: 0 0 33%;
  max-width: 33%;
}
.col-3 {
  -webkit-box-flex: 0;
  flex: 0 0 24.5%;
  max-width: 24.5%;
}
*/
/* paginator */
.my-pagination /deep/ .ngx-pagination .current {
  background: var(--dark);
}
@media (min-width: 544px) {
  .col-sm-4 {
    -webkit-box-flex: 0;
    flex: 0 0 30%;
    max-width: 30%;
  }
}
@media (min-width: 768px) {
  .col-sm-4 {
    -webkit-box-flex: 0;
    flex: 0 0 33%;
    max-width: 33%;
  }
}